.roadmap-header {
  background-color: var(--color-secondary-dark);
  color: var(--color-background);

  border-radius: 1rem;
  padding-inline: 2.5rem;
  padding-block: 2rem;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  .content {
    display: grid;
    gap: 1.5rem;
    font-size: var(--fz-600);
    font-weight: 600;

    button {
      color: var(--color-gray-98);
      font-size: var(--fz-300);

      gap: 1rem;
    }
  }
}

@media (max-width: 640px) {
  .roadmap-header {
    border-radius: 0;
  }
}
