.roadmap {
  display: grid;
  gap: 3rem;

  .header {
    display: grid;
    gap: 1rem;

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .description {
      font-size: var(--fz-400);
    }
  }
}
