.general {
  border-radius: var(--border-radious);
  border: none;

  font-size: var(--fz-500);
  font-weight: 600;
  text-decoration: none;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &.solid {
    padding-inline: 2rem;
    padding-block: 1.2rem;
  }

  &.tonal {
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }

  &.text {
    background-color: transparent;
    font-size: var(--fz-600);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-background);
  }

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-background);
  }

  &.danger {
    background-color: var(--color-danger);
    color: var(--color-background);
  }

  &.idle {
    background-color: var(--color-idle);
    color: var(--color-secondary);
  }

  &:hover {
    cursor: pointer;
  }
}
