.general {
  border-radius: var(--border-radious);
  border: none;

  font-size: var(--fz-500);
  font-weight: 600;
  color: inherit;
  text-decoration: none;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &.primary {
    padding-inline: 2rem;
    padding-block: 1.2rem;
  }

  &.secondary {
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  &.gray {
    background-color: var(--color-gray-231);
    color: var(--color-blue);
  }

  &.purple {
    background-color: var(--color-purple);
    color: var(--color-gray-97);
  }

  &.blue {
    background-color: var(--color-blue);
    color: var(--color-gray-97);
  }

  &.dark-blue {
    background-color: var(--color-dark-blue);
    color: var(--color-gray-97);
  }

  &.transparent {
    background-color: transparent;
    font-size: var(--fz-600);
  }
}
