.SuggestionSkeleton {
  display: grid;
  gap: 2rem;

  > div {
    border-radius: 1rem;
  }

  .title {
    width: 50%;
    height: 2.54rem;
  }

  .description {
    width: 90%;
    height: 1.72rem;
  }

  .type {
    width: 10%;
    height: 1.63rem;
  }

  .rankComment {
    display: flex;
    justify-content: space-between;

    .rank {
      width: 6rem;
      height: 2.73rem;
    }

    .comment {
      width: 4rem;
      height: 2.73rem;
    }
  }
}
