.form {
  position: relative;
  padding-inline: 4rem;
  padding-block-start: 4rem;
  padding-block-end: 4rem;

  border-radius: var(--border-radious);
  background-color: var(--color-form-background);
  border: none;

  display: grid;
  gap: 3.5rem;

  > img {
    position: absolute;
    inset-block-start: -2.2rem;
    inset-inline-start: 2.2rem;
  }

  h2 {
    text-align: center;
    padding: 1rem;
  }

  > div {
    display: grid;
    gap: 1.6rem;

    h3 {
      display: flex;
      gap: 0.5rem;
    }

    input,
    select {
      background-color: var(--color-idle);
      padding-inline: 2rem;
      padding-block: 1.5rem;
      border: none;
      border-radius: 0.5rem;
    }

    .star {
      color: var(--color-danger);
    }
  }

  .button-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 800px) {
  .form {
    .button-container {
      grid-template-columns: 1fr auto auto;
    }

    .delete {
      justify-self: start;
    }
  }
}
