.create-edit-form {
  position: relative;
  padding-inline: 4rem;
  padding-block-start: 4rem;
  padding-block-end: 4rem;

  border-radius: 0.8rem;
  background-color: var(--color-white);
  border: none;

  display: grid;
  gap: 3.5rem;

  > img {
    position: absolute;
    inset-block-start: -2.2rem;
    inset-inline-start: 2.2rem;
  }

  h2 {
    text-align: center;
    padding: 1rem;
  }

  > div {
    display: grid;
    gap: 1.6rem;

    h3 {
      display: flex;
      gap: 0.5rem;
    }

    input,
    select {
      background-color: var(--color-gray-230);
      padding-inline: 2rem;
      padding-block: 1.5rem;
      border: none;
      border-radius: 0.5rem;
    }

    input,
    textarea {
      &:not(:user-invalid) {
        + .error-message {
          display: none;
        }
      }

      &:user-invalid {
        border: 0.1rem solid red;
      }
    }

    .error-message {
      color: red;
    }

    .star {
      color: red;
      align-self: center;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
