.bord {
  background-image: linear-gradient(to right, #3d3dd8, #ac3dac, #ea5aa8);

  color: var(--color-gray-97);

  display: grid;
  gap: 1rem;

  align-content: center;
  div {
    font-weight: 700;
    font-size: var(--fz-400);
  }

  span {
    font-weight: 500;
    font-size: var(--fz-300);
  }
}
