.bord {
  background-image: linear-gradient(
    to right,
    #3d3dd8,
    #ac3dac,
    #ea5aa8,
    yellow
  );

  padding-block-start: 5.5rem;
  padding-block-end: 2.2rem;
  padding-inline: 2.5rem;

  border-radius: 0.8rem;

  color: var(--color-gray-97);

  display: grid;
  gap: 1rem;

  div {
    font-weight: 700;
    font-size: var(--fz-400);
  }

  span {
    font-weight: 500;
    font-size: var(--fz-300);
  }
}
