:root {
  --color-gray-98: hsl(230, 60%, 98%);
  --color-gray-97: hsl(0deg 0% 97%);
  --color-gray-95: hsl(0deg 0% 95%);
  --color-gray-90: hsl(0deg 0% 90%);
  --color-gray-80: hsl(0deg 0% 80%);
  --color-gray-70: hsl(0deg 0% 70%);
  --color-gray-40: hsl(0deg 0% 40%);
  --color-gray-30: hsl(0deg 0% 30%);
  --color-gray-20: hsl(0deg 0% 20%);
  --color-gray-15: hsl(0deg 0% 15%);
  --color-gray-10: hsl(0deg 0% 10%);
  --color-white: hsl(0, 0%, 100%);

  --color-primary: hsl(282, 83%, 52%);
  --color-secondary: hsl(230, 76%, 59%);
  --color-secondary-dark: hsl(230, 31%, 31%);
  --color-danger: hsl(0, 68%, 45%);
  --color-warning: hsl(16, 79%, 57%);
  --color-idle: hsl(231, 100%, 97%);
  --color-foreground: hsl(239, 22%, 37%);
  --color-background: var(--color-gray-95);

  --shadow-400: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
