.home {
  display: grid;
  grid-template-areas:
    "sidebar toolbar"
    "sidebar suggestions";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;

  margin: 2rem;

  .sidebar {
    grid-area: sidebar;
  }

  .toolbar {
    grid-area: toolbar;
  }

  .suggestions {
    grid-area: suggestions;
  }
}

@media (max-width: 800px) {
  .home {
    grid-template-areas: "sidebar" "toolbar" "suggestions";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 640px) {
  .home {
    gap: 0;

    margin: 0;
  }
}
