.content {
  .suggestions {
    padding-block-start: 4rem;
  }

  .menu {
    position: fixed;
    inset-inline-end: 3rem;
    inset-block-start: 3rem;
    border: none;
    background-color: transparent;
    appearance: none;
  }
}

@media (max-width: 639px) {
  .search,
  .road-map {
    display: none;
  }
}

@media (min-width: 640px) {
  .content {
    display: grid;
    gap: 2rem;
    margin-block: 3rem;

    .sidebar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: max-content;
      gap: 1rem;
    }

    .suggestions {
      padding-block-start: 0;
    }

    .menu {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .content {
    grid-template-areas:
      "sidebar header"
      "sidebar suggestions";

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;

    margin-block: 6rem;

    .sidebar {
      grid-area: sidebar;
      grid-template-columns: 1fr;
      gap: 2rem;
      padding-inline-end: 1rem;
    }

    .header {
      grid-area: header;
    }

    .suggestions {
      grid-area: suggestions;
    }
  }
}
