.suggestion {
  border-radius: 1rem;
  background-color: var(--color-gray-97);
  padding: 2rem;
  display: flex;
  gap: 3rem;

  &:hover {
    cursor: pointer;
  }

  .rank {
    background-color: var(--color-gray-90);
    align-self: start;
    justify-self: start;
    display: grid;
    gap: 0.5rem;
  }

  .content {
    flex: 1;
    display: grid;
    gap: 1rem;
    font-weight: 400;

    .title {
      font-weight: 600;
    }

    .suggestionType {
      justify-self: start;
      background-color: var(--color-gray-90);
      padding: 1rem;
      border-radius: 0.8rem;
      border: none;
      font-size: 1.2rem;
    }
  }

  .comments {
    display: flex;
    gap: 0.5rem;
    align-self: center;
  }
}
