.suggestion {
  display: grid;
  grid-template-areas:
    "content content"
    "rank comment";

  gap: 2rem;

  .rank {
    grid-area: rank;

    align-self: start;
    justify-self: start;

    display: flex;
    gap: 1rem;
    padding-block: 1rem;
  }

  .content {
    grid-area: content;

    display: grid;
    gap: 1.2rem;
    text-decoration: none;

    .suggestionType {
      justify-self: start;

      background-color: var(--color-idle);
      color: var(--color-secondary);

      padding: 1rem;
      border-radius: 0.8rem;

      font-size: var(--fz-500);
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .comments {
    grid-area: comment;

    display: flex;
    gap: 0.5rem;
    align-self: flex-end;
    justify-self: end;
    font-weight: 700;
    font-size: var(--fz-400);
  }
}

@media (min-width: 640px) {
  .suggestion {
    grid-template-areas: "rank content comment";
    grid-template-columns: auto 1fr auto;
    gap: 3rem;

    .rank {
      display: grid;
    }

    .comments {
      align-self: center;
    }
  }
}
