.suggestion {
  display: flex;
  gap: 3rem;

  .rank {
    align-self: start;
    justify-self: start;

    display: grid;
  }

  .content {
    flex: 1;
    display: grid;
    gap: 1.2rem;

    .suggestionType {
      justify-self: start;

      background-color: var(--color-gray-231);
      color: var(--color-blue);

      padding: 1rem;
      border-radius: 0.8rem;

      font-size: 1.4rem;
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .comments {
    display: flex;
    gap: 0.5rem;
    align-self: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
