.content {
  display: grid;
  margin-block-start: 6rem;
  gap: 2rem;
  align-items: start;

  grid-template-areas:
    "bord header"
    "bord suggestions";

  grid-template-columns: 25% auto;
  grid-template-rows: auto 1fr;

  .header {
    grid-area: header;
  }

  .bord {
    grid-area: bord;
    display: grid;
    gap: 2rem;
    padding-inline-end: 1rem;
  }

  .suggestions {
    grid-area: suggestions;
  }
}
