.reply-info {
  display: flex;
  gap: 3rem;

  img {
    width: 4rem;
    height: 4rem;
    align-self: start;
    border-radius: 100%;
  }

  .user-info {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > span {
      font-size: var(--fz-300);
    }

    p {
      line-height: 3rem;
      text-align: justify;
      padding-block-start: 1rem;
      span {
        color: var(--color-purple);
      }
    }

    .textarea-container {
      display: flex;
      gap: 0.5rem;

      textarea {
        flex: 1 1 0;
      }

      button {
        align-self: end;

        .arrow {
          font-size: 2rem;
          color: var(--color-sharp-blue);
        }
      }
    }
  }

  .reply-button {
    align-self: start;
    color: var(--color-sharp-blue);
    font-size: var(--fz-500);
  }
}
