.content {
  margin-block: 6rem;

  display: grid;
  gap: 2rem;
  align-items: start;

  grid-template-areas:
    "left-content header"
    "left-content suggestions";

  grid-template-columns: 30% auto;
  grid-template-rows: auto 1fr;

  .header {
    grid-area: header;
  }

  .left-content {
    grid-area: left-content;
    display: grid;
    gap: 2rem;
    padding-inline-end: 1rem;
  }

  .suggestions {
    grid-area: suggestions;
  }
}
