.modal {
  padding-inline: 3rem;
  padding-block: 2rem;
  margin: auto;
  border-radius: 0.8rem;
  background-color: var(--color-gray-97);
  border: none;

  h2 {
    text-align: center;
    padding: 1rem;
  }
  .content {
    display: grid;
    gap: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    padding-block-start: 2rem;
  }

  input,
  textarea,
  select {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-inline-start: 0.5rem;
  }
}
