:root {
  --border-radious: 0.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);

  inline-size: min(110rem, 100%);

  margin-inline: auto;

  font-size: var(--fz-400);

  h2,
  h3 {
    color: hsl(239, 22%, 37%);
  }
}
